name: pgmemento-tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pg: [13, 14, 15, 16, 17]
    services:
      postgres:
        image: postgis/postgis:${{ matrix.pg }}-3.5
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_PORT: 5432
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 20s --health-timeout 60s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: create new empty database
        run: |
          psql -d postgresql://postgres@localhost/postgres -U postgres -tc "create database pgmemento_testdb"
        env:
          PGPASSWORD: password
      - name: run pgmemento tests
        run: |
          psql -d postgresql://postgres@localhost/pgmemento_testdb -U postgres -a -f TEST.sql
        env:
          PGPASSWORD: password
